{% comment %}
carousel.html
=============

Display a carousel of content.

**display_caption** (bool) Determines whether the caption (title) is displayed.

**images** (iterable) An iterable of images. Each object must implement a ``title`` and ``get_absolute_url``.

**selector** (str) Required. This is the name used to uniquely identify the carousel in the DOM.

Example:

.. code::

    {% include "htmgel/carousel.html" display_caption=True images=objects selector="promotions" %}

{% endcomment %}

{% if HTML_FRAMEWORK == "bootstrap3" %}
    {% include "htmgel/bootstrap3/carousel.html" %}
{% elif HTML_FRAMEWORK == "foundation6" %}
    {% include "htmgel/foundation6/carousel.html" %}
{% else %}
    <!-- no default for carousel -->
{% endif %}